body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#panel,
            #flip {
                padding-bottom: 25px;
                text-align: center;
                /* background-color: rgba(170,170,170,0.76); */
                /* border: solid 1px #0f0f0f; */
                width: 500px;
                height: 50px;
                border-radius: 10px;
            }
            
            #panel {
                padding: 30px;
                display: none;
                width: 150px;
                height: 80px;
            }

            h1 {
                font-family: 'Charm', cursive;
            }

/*
Hover effects
*/
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
