#panel,
            #flip {
                padding-bottom: 25px;
                text-align: center;
                background-color: rgba(170,170,170,0.76);
                border: solid 1px #0f0f0f;
                width: 400px;
                height: 50px;
                border-radius: 10px;
            }
            
            #panel {
                padding: 30px;
                display: none;
                width: 150px;
                height: 30px;
            }